extends layout
//- exportuje layout jest to czest wpolnastrony beda tu style javascript 
block content
  h1= title
  p Welcome to #{title}
  form(method='get')
    input(type='text' value=search name='search')
    input(type='submit' value='szukaj') 

  each item in data
    article
      h1(class='title')=item.title
      p(class='data')=item.created
      p=item.description