extends layout
//- exportuje layout jest to czest wpolnastrony beda tu style javascript 
block content
  h1= title
  p Welcome to #{title} 
  if show
    form(method='post')
      p co lubisz?
      ul
        each item in data
          li
            label=item.title
            input(type='radio' name='quiz' value=item._id)
      input(type='submit' value='zaglosuj')
      p aby zobaczyc
  else
    h1 Dokonałeś już głosu w ankiecie
    p Wyniki
    ul
      each item in data
        li #{item.title} głosów: #{item.vote}(#{Math.round(item.vote/sum*100)}%)
    p Głosów oddano: #{sum}